{% extends "memo_board/base.html" %}

{% block content %}
<div class="container p-5 my-5">
    <div class="container mt-auto">
        {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) ваш новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль::</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить мой пароль"/></td>
                </tr>
            </table>
        </form>
        {% else %}
        <h1>Сброс пароля не удался</h1>
        <p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже была использована.
            Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %}
    </div>
</div>
{% endblock %}