{% extends "memo_board/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Создание заметки{% endblock %}

{% block content %}
<form method="post" class="create-note-form" enctype="multipart/form-data" action="{% url 'note_create' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid">
        <button type="submit" class="btn btn-outline-primary btn-block mb-3 mt-3"
                data-bs-dismiss="modal">Отправить
        </button>
    </div>

</form>

{% endblock %}